<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499280569264-2frm6k8j9fgj0kc56nacit3cetfhdvdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499280569264-2frm6k8j9fgj0kc56nacit3cetfhdvdo</string>
	<key>API_KEY</key>
	<string>AIzaSyB7DRvT_i_ESAyvqmi1t2LC4zEG1GmTGtw</string>
	<key>GCM_SENDER_ID</key>
	<string>499280569264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>taskplanapp</string>
	<key>STORAGE_BUCKET</key>
	<string>taskplanapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499280569264:ios:22cf7ef850169f82532c75</string>
	<key>DATABASE_URL</key>
	<string>https://taskplanapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>